@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	background: url(../images/login-bg3.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #e0e0e0;
	color: #222;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 15px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
	text-decoration: none;
	color: #0069ff;
}

.login-box {
	width: 360px;
	height: 420px;
	background: rgba(255, 255, 255, 0.9);
	color: #000;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
	/*display: none;*/
}

h1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.login-box fieldset {
	margin: 0px;
	padding: 10px;
	font-weight: normal;
}

.login-box input {
	width: 100%;
	margin-bottom: 20px;
}

.login-box input[type="text"], input[type="email"], input[type="password"]
	{
	border: none;
	border-bottom: 1px solid #995c00;
	background: transparent;
	outline: none;
	height: 40px;
	color: #6d2424;
	font-size: 16px;
	font-weight: bold;
}

.login-box input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #1c8adb;
	color: #eee;
	font-size: 18px;
	border-radius: 5px;
}

.login-box input[type="submit"]:hover {
	cursor: pointer;
	background: #125687;
	color: #fff;
}

.login-box a {
	text-decoration: none;
	font-size: 14px;
	color: #555;
}

.login-box a:hover {
	color: #000;
}

.footer {
	background: rgba(255, 255, 255, 0.7);
	text-align: center;
	padding: 10px;
	margin-top: 7px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}